# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$_";
}

# Change working directory to the top-most Finder window location
function cdf() { # short for `cdfinder`
  cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}

# Create a .tar.gz archive, using `zopfli`, `pigz` or `gzip` for compression
function targz() {
  local tmpFile="${@%/}.tar";
  tar -cvf "${tmpFile}" --exclude=".DS_Store" "${@}" || return 1;

  size=$(
    stat -f"%z" "${tmpFile}" 2> /dev/null; # macOS `stat`
    stat -c"%s" "${tmpFile}" 2> /dev/null;  # GNU `stat`
  );

  local cmd="";
  if (( size < 52428800 )) && hash zopfli 2> /dev/null; then
    # the .tar file is smaller than 50 MB and Zopfli is available; use it
    cmd="zopfli";
  else
    if hash pigz 2> /dev/null; then
      cmd="pigz";
    else
      cmd="gzip";
    fi;
  fi;

  echo "Compressing .tar ($((size / 1000)) kB) using \`${cmd}\`…";
  "${cmd}" -v "${tmpFile}" || return 1;
  [ -f "${tmpFile}" ] && rm "${tmpFile}";

  zippedSize=$(
    stat -f"%z" "${tmpFile}.gz" 2> /dev/null; # macOS `stat`
    stat -c"%s" "${tmpFile}.gz" 2> /dev/null; # GNU `stat`
  );

  echo "${tmpFile}.gz ($((zippedSize / 1000)) kB) created successfully.";
}

# Determine size of a file or total size of a directory
function fs() {
  if du -b /dev/null > /dev/null 2>&1; then
    local arg=-sbh;
  else
    local arg=-sh;
  fi
  if [[ -n "$@" ]]; then
    du $arg -- "$@";
  else
    du $arg .[^.]* ./*;
  fi;
}

# Use Git’s colored diff when available
hash git &>/dev/null;
if [ $? -eq 0 ]; then
  function diff() {
    git diff --no-index --color-words "$@";
  }
fi;

# Create a data URL from a file
function dataurl() {
  local mimeType=$(file -b --mime-type "$1");
  if [[ $mimeType == text/* ]]; then
    mimeType="${mimeType};charset=utf-8";
  fi
  echo "data:${mimeType};base64,$(openssl base64 -in "$1" | tr -d '\n')";
}

# Start an HTTP server from a directory, optionally specifying the port
function server() {
  local port="${1:-8000}";
  sleep 1 && open "http://localhost:${port}/" &
  # Set the default Content-Type to `text/plain` instead of `application/octet-stream`
  # And serve everything as UTF-8 (although not technically correct, this doesn’t break anything for binary files)
  python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port";
}

# Start a PHP server from a directory, optionally specifying the port
# (Requires PHP 5.4.0+.)
function phpserver() {
  local port="${1:-4000}";
  local ip=$(ipconfig getifaddr en1);
  sleep 1 && open "http://${ip}:${port}/" &
  php -S "${ip}:${port}";
}

# Compare original and gzipped file size
function gz() {
  local origsize=$(wc -c < "$1");
  local gzipsize=$(gzip -c "$1" | wc -c);
  local ratio=$(echo "$gzipsize * 100 / $origsize" | bc -l);
  printf "orig: %d bytes\n" "$origsize";
  printf "gzip: %d bytes (%2.2f%%)\n" "$gzipsize" "$ratio";
}

# Run `dig` and display the most useful info
function digga() {
  dig +nocmd "$1" any +multiline +noall +answer;
}

# Show all the names (CNs and SANs) listed in the SSL certificate
# for a given domain
function getcertnames() {
  if [ -z "${1}" ]; then
    echo "ERROR: No domain specified.";
    return 1;
  fi;

  local domain="${1}";
  echo "Testing ${domain}…";
  echo ""; # newline

  local tmp=$(echo -e "GET / HTTP/1.0\nEOT" \
    | openssl s_client -connect "${domain}:443" -servername "${domain}" 2>&1);

  if [[ "${tmp}" = *"-----BEGIN CERTIFICATE-----"* ]]; then
    local certText=$(echo "${tmp}" \
      | openssl x509 -text -certopt "no_aux, no_header, no_issuer, no_pubkey, \
      no_serial, no_sigdump, no_signame, no_validity, no_version");
    echo "Common Name:";
    echo ""; # newline
    echo "${certText}" | grep "Subject:" | sed -e "s/^.*CN=//" | sed -e "s/\/emailAddress=.*//";
    echo ""; # newline
    echo "Subject Alternative Name(s):";
    echo ""; # newline
    echo "${certText}" | grep -A 1 "Subject Alternative Name:" \
      | sed -e "2s/DNS://g" -e "s/ //g" | tr "," "\n" | tail -n +2;
    return 0;
  else
    echo "ERROR: Certificate not found.";
    return 1;
  fi;
}

# Normalize `open` across Linux, macOS, and Windows.
# This is needed to make the `o` function (see below) cross-platform.
if [ ! $(uname -s) = 'Darwin' ]; then
  if grep -q Microsoft /proc/version; then
    # Ubuntu on Windows using the Linux subsystem
    alias open='explorer.exe';
  else
    alias open='xdg-open';
  fi
fi

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
  if [ $# -eq 0 ]; then
    open .;
  else
    open "$@";
  fi;
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
  tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}

function gitCreds() {
  if [ $# -ge 3 ]; then
    NAME=$2
    EMAIL=$3
  else
    NAME=$1
    EMAIL=$2
  fi
  # Git credentials
  export GIT_AUTHOR_NAME="$NAME"
  export GIT_COMMITTER_NAME="$GIT_AUTHOR_NAME"
  export GIT_AUTHOR_EMAIL="$EMAIL"
  export GIT_COMMITTER_EMAIL="$GIT_AUTHOR_EMAIL"

  if [ "$1" = "-g" ]; then
    echo "Adding global git credentials"
    git config --global user.name "$GIT_AUTHOR_NAME"
    git config --global user.email "$GIT_AUTHOR_EMAIL"
  elif [ "$1" = "-w" ]; then
    echo "Adding worktree git credentials"
    git config --worktree user.name "$GIT_AUTHOR_NAME"
    git config --worktree user.email "$GIT_AUTHOR_EMAIL"
  elif [ "$1" = "-l" ]; then
    echo "Adding local git credentials"
    git config --local user.name "$GIT_AUTHOR_NAME"
    git config --local user.email "$GIT_AUTHOR_EMAIL"
  fi

  if [ -f ~/.ssh/id_rsa_$GIT_AUTHOR_NAME ]; then
    export GIT_SSH_COMMAND="ssh -i ~/.ssh/id_rsa_$GIT_AUTHOR_NAME"
  fi
}

function gitUser() {
  FLAG=""
  KEY=$1
  if [ $# -ge 2 ]; then
    FLAG=$1
    KEY=$2
  fi

  if [ "$KEY" = "snagi" ]; then
    gitCreds $FLAG "Sushil Nagi" "sushil.nagi@gmail.com"
  elif [ "$KEY" = "netreo" ]; then
    gitCreds $FLAG "Sushil Nagi" "snagi@netreo.com"
  elif [ "$KEY" = "elloyds" ]; then
    gitCreds $FLAG "Sushil Nagi" "sushil.nagi@e.lloydsbanking.com"
  elif [ "$KEY" = "lloyds" ]; then
    gitCreds $FLAG "Sushil Nagi" "sushil.nagi@lloydsbanking.com"
  fi
}

function gcpKubeConfig() {
  if [ $# -ge 2 ]; then
    NAME=$1
    CLUSTER=$2
    PROJECT=$3
    REGION=$4
    FILE=$NAME
  else
    CLUSTER=$1
    NAME=${CLUSTER}
    FILE="gcp"
  fi
  if [ "$PROJECT" -ne "" ]; then
    PROJECT="--project $PROJECT"
  fi
  rm -rf ~/.kube/configs/${FILE}.yaml
  KUBECONFIG=~/.kube/configs/${FILE}.yaml gcloud container clusters get-credentials ${PROJECT} --region=${REGION:-europe-west2} $CLUSTER
  sed -i "s/gke.*${CLUSTER}/${NAME}/g" ~/.kube/configs/${FILE}.yaml
  export KUBECONFIG=${KUBECONFIG}:~/.kube/configs/${FILE}.yaml
}

check() {
  echo "Testing function"
  if [ $# -ge 1 ]; then
    echo $@
    echo $1
    echo $2
    echo $3
  fi
}

load_nvm() {
  export NVM_DIR="$HOME/.nvm"
  [ -s "$(brew --prefix nvm)/nvm.sh" ] && \. "$(brew --prefix nvm)/nvm.sh"  # This loads nvm
  [ -s "$(brew --prefix nvm)/etc/bash_completion.d/nvm" ] && \. "$(brew --prefix nvm)/etc/bash_completion.d/nvm"  # This loads nvm bash_completion
  nvm use default
}

function wgit() { while ! eval "git $*"; do sleep 1; echo "Retrying ..."; done }
function try() { while ! eval "$*"; do sleep 1; echo "Retrying ..."; done } 
